
* {
  font-family: 'MS Sans Serif', Arial;
  font-size: 13px;
  -webkit-font-smoothing: none;
  color: #222222;
  user-select: none;
  cursor: url('./assets/win7/icons/CursorsXP.cur'), default;
}

u {
  text-decoration: none;
  border-bottom: 1px solid #222222;
}

button {
  cursor: url('./assets/win7/icons/CursorsXP.cur'), pointer;
}

input, textarea, select {
  cursor: url('./assets/win7/icons/CursorsXP.cur'), text;
}

a {
  cursor: url('./assets/win7/icons/CursorsXP.cur'), pointer;
}

button:disabled {
  color: #9a9a9a;
  text-shadow: 1px 1px 0 #eeeeee;
}

button:focus {
  outline: 1px dotted #000000;
  outline-offset: -2px; 
}

fieldset {
  border: none;
}

fieldset > * {
  margin: 0 6px 8px 0;
}

fieldset > *:last-child {
  margin: 0;
}

